{% extends "layout.html" %}
{% block content%}
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis slide-right">WellNourish</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 slide-left">Welcome to Wellnourish, your gateway to a healthier, more flavorful life! At Wellnourish, we're passionate about making mindful eating a simple and enjoyable experience. Our API-based Python web application caters to your individual needs, considering factors like health records, financial considerations, and culinary preferences. Whether you're a culinary explorer or someone focused on health, Wellnourish is here to redefine your relationship with food.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="../static/images/amoon-ra-n8vDuIpGb0c-unsplash.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
</div>
<div class="b-example-divider"></div>
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis slide-right">About</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 slide-left">Wellnourish is not just a platform; it's a lifestyle. We curate diverse recipes, ensuring that eating well is both accessible and delightful. From budget-friendly options to health-conscious choices, Wellnourish is your partner in crafting a well-balanced, satisfying life. Join us on this flavorful journey and discover the joy of nourishing your body and soul. Wellnourish – where every bite is a step towards a vibrant, well-lived life.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="../static/images/amoon-ra-n8vDuIpGb0c-unsplash.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
</div>
<div class="b-example-divider"></div>
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis slide-right">Statistics</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 slide-left">Wellnourish is now being recommended by <strong>1m+</strong> health care providers and dieticians across with more than <strong>5m+</strong> registered users.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="../static/images/pexels-rdne-stock-project-6129205.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
</div>
<div class="b-example-divider"></div>

{% endblock content%}

