{% extends "layout.html" %}
{% block content %}
<div class="landing">
  <div class="search-box">
    <button type="button">Search
    </button>
  </div>
  <div class="recipe-list">
    <div class="result-title">
      <div class="result-count">
	<h4>Popular Recipes (12)</h4>
      </div>
      <div class="result-filter">
	<h4>Filters</h4>
      </div>
    </div>
    <div class="result-tiles">
      <ul class="">
	<li class="">
	  <div class="list-img"></div>
	  <div class="list-title">
	    <h3>Recipe Name</h3>
	    <p>Ingredients: Onions, Rice, Honey, Beans, Melon...</p>
	  </div>
	</li>
	<li class="">
	  <div class="list-img"></div>
	  <div class="list-title">
	    <h3>Recipe Name</h3>
	    <p>Ingredients: Onions, Rice, Honey, Beans, Melon...</p>
	  </div>
	</li>
	<li class="">
	  <div class="list-img"></div>
	  <div class="list-title">
	    <h3>Recipe Name</h3>
	    <p>Ingredients: Onions, Rice, Honey, Beans, Melon...</p>
	  </div>
	</li>
	<li class="">
	  <div class="list-img"></div>
	  <div class="list-title">
	    <h3>Recipe Name</h3>
	    <p>Ingredients: Onions, Rice, Honey, Beans, Melon...</p>
	  </div>
	</li>
	<li class="">
	  <div class="list-img"></div>
	  <div class="list-title">
	    <h3>Recipe Name</h3>
	    <p>Ingredients: Onions, Rice, Honey, Beans, Melon...</p>
	  </div>
	</li>
	<li class="">
	  <div class="list-img"></div>
	  <div class="list-title">
	    <h3>Recipe Name</h3>
	    <p>Ingredients: Onions, Rice, Honey, Beans, Melon...</p>
	  </div>
	</li>
	<li class="">
	  <div class="list-img"></div>
	  <div class="list-title">
	    <h3>Recipe Name</h3>
	    <p>Ingredients: Onions, Rice, Honey, Beans, Melon...</p>
	  </div>
	</li>
	<li class="">
	  <div class="list-img"></div>
	  <div class="list-title">
	    <h3>Recipe Name</h3>
	    <p>Ingredients: Onions, Rice, Honey, Beans, Melon...</p>
	  </div>
	</li>
	<li class="">
	  <div class="list-img"></div>
	  <div class="list-title">
	    <h3>Recipe Name</h3>
	    <p>Ingredients: Onions, Rice, Honey, Beans, Melon...</p>
	  </div>
	</li>
	<li class="">
	  <div class="list-img"></div>
	  <div class="list-title">
	    <h3>Recipe Name</h3>
	    <p>Ingredients: Onions, Rice, Honey, Beans, Melon...</p>
	  </div>
	</li>
	<li class="">
	  <div class="list-img"></div>
	  <div class="list-title">
	    <h3>Recipe Name</h3>
	    <p>Ingredients: Onions, Rice, Honey, Beans, Melon...</p>
	  </div>
	</li>
	<li class="">
	  <div class="list-img"></div>
	  <div class="list-title">
	    <h3>Recipe Name</h3>
	    <p>Ingredients: Onions, Rice, Honey, Beans, Melon...</p>
	  </div>
	</li>
      </ul>
    </div>
  </div>

</div>
<!--
<div class="gradient">
  <ul class="gallery-site" data-header-floating="show">
    <li>
      <div class="box-figure">
        <img data-controller="lazyload-image" src="../static/images/pexels-maarten-van-den-heuvel-2284166.jpg" class="gallery-site__img lazy lazy--loaded" data-src="../static/images/pexels-maarten-van-den-heuvel-2284166.jpg" alt="Kōzōwood — Made of Nature">
      </div>
    </li>
    <li>
      <div class="box-figure">
        <img data-controller="lazyload-image" src="https://assets.awwwards.com/awards/sites_of_the_day/2024/02/kozowood-2.jpg" class="gallery-site__img lazy lazy--loaded" data-src="https://assets.awwwards.com/awards/sites_of_the_day/2024/02/kozowood-2.jpg" alt="Kōzōwood — Made of Nature">
      </div>
    </li>
    <li>
      <div class="box-figure">
        <img data-controller="lazyload-image" src="../static/images/amoon-ra-n8vDuIpGb0c-unsplash.jpg" class="gallery-site__img lazy lazy--loaded" data-src="../static/images/amoon-ra-n8vDuIpGb0c-unsplash.jpg" alt="Kōzōwood — Made of Nature">
      </div>
    </li>
    <li>
      <div class="box-figure">
        <img data-controller="lazyload-image" src="../static/images/amoon-ra-n8vDuIpGb0c-unsplash.jpg" class="gallery-site__img lazy lazy--loaded" data-src="../static/images/amoon-ra-n8vDuIpGb0c-unsplash.jpg" alt="Kōzōwood — Made of Nature">
      </div>
    </li>
  </ul>
</div>
<div class="gradient">
  GOODBYE WORLD!
</div>
-->
{% endblock %}


<!--
    <h2>WellNourish</h2>
    <p>Welcome to Wellnourish, your gateway to a healthier, more flavorful life! At Wellnourish, we're passionate about making mindful eating a simple and enjoyable experience. Our API-based Python web application caters to your individual needs, considering factors like health records, financial considerations, and culinary preferences. Whether you're a culinary explorer or someone focused on health, Wellnourish is here to redefine your relationship with food.</p>

    <h2>About</h2>
    <p>Wellnourish is not just a platform; it's a lifestyle. We curate diverse recipes, ensuring that eating well is both accessible and delightful. From budget-friendly options to health-conscious choices, Wellnourish is your partner in crafting a well-balanced, satisfying life. Join us on this flavorful journey and discover the joy of nourishing your body and soul. Wellnourish – where every bite is a step towards a vibrant, well-lived life.</p>
  </div>
-->
