{% extends "layout.html" %}
{% block content%}
<div class="landing_space">
    <div>
      <h1 class="landing_heading">WellNourish</h1>
    </div>

    <div class="landing_paragraph">
      <p class="">Welcome to Wellnourish, your gateway to a healthier, more flavorful life! At Wellnourish, we're passionate about making mindful eating a simple and enjoyable experience. Our API-based Python web application caters to your individual needs, considering factors like health records, financial considerations, and culinary preferences. Whether you're a culinary explorer or someone focused on health, Wellnourish is here to redefine your relationship with food.</p>

      <a href="/"><button class="landing_button">Tryout WellNourish</button></a>
    </div>
</div>


{% endblock content%}
