{% extends "layout.html" %}
{% block content %}
<div class="main-w3layouts wrapper-login">
    <div class="main-agileinfo">
        <div class="login">
            LOGIN
        </div>
        <div class="agileits-top">
            <form action="#" method="post">
                <input class="text" type="text" name="username" placeholder="Username or email" required="">
                <input class="text w3lpass" type="password" name="password" placeholder="Password" required="">
                <input type="submit" value="LOGIN">
            </form>
            <p>Forgotten Password? Reset <a href="/resetpassword"> here!</a></p>
        </div>
</div>
{% endblock content %}