{% extends "layout.html" %}
{% block content %}
<div class="main-w3layouts wrapper-login">
    <div class="main-agileinfo">
        <div class="login">
            Complete Profile
        </div>
        <div class="agileits-top">
            <form action="#" method="post">
                <input class="text" type="text" name="first_name" placeholder="First Name" required="">
                <input class="text w3lpass" type="text" name="last_name" placeholder="Last Name" required="">
                <input class="text w3lpass" type="text" name="health_records" placeholder="Allergies" required="">
                <label class="text w3lpass" for="allergies_dropdown">Select allergies:</label>
                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown()">Dropdown</button>
                    <div class="dropdown-content" id="allergies_dropdown">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="fiat">Fiat</option>
                        <option value="audi">Audi</option>
                    </div>
                </div>
                <input type="submit" value="SUBMIT">
            </form>
        </div>
</div>
<script>
    function toggleDropdown() {
        document.getElementById("allergies_dropdown").classList.toggle("show");
    }
    
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
    </script>
{% endblock content %}