{% extends "layout.html" %}
{% block content %}
<div class="main-w3layouts wrapper-login">
    <div class="main-agileinfo">
        <div class="login">
            Complete Profile
        </div>
        <div class="agileits-top">
            <form action="#" method="post">
                <input class="text" type="text" name="first_name" placeholder="First Name" required="">
                <input class="text w3lpass" type="text" name="last_name" placeholder="Last Name" required="">
                <input class="text w3lpass" type="text" name="health_records" placeholder="Allergies" required="">
                <!-- <label class="text w3lpass" for="allergies_dropdown">Select allergies: </label> -->
                <div class="dropdown">
                    <select size="7" multiple>
                        {% for diet in intolerances %}
                        <option class="drp-dwn" value="">{{ diet }}</option>
                        {% endfor %}
                    <!-- </div> -->
                    </select>
                </div>
                <input type="submit" value="SUBMIT">
            </form>
        </div>
</div>
{% endblock content %}