{% extends "layout.html" %}
{% block content %}
<div class="main-w3layouts wrapper-register">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash" id="flash-message">
                {% for mesg in get_flashed_messages() %}
                    <h1>{{ mesg }}</h1>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="#" method="post" >
                <input class="text" type="text" name="username" placeholder="Username" required="">
                <input class="text email" type="email" name="email" placeholder="Email" required="">
                <input class="text" id="password" type="password" name="password" placeholder="Password" required="">
                <input class="text w3lpass" id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password" required="">
                <div class="wthree-text">
                    <label class="anim">
                        <input type="checkbox" class="checkbox" required="">
                        <span>I agree to the <a href="#0" class="tc">Terms & Conditions</a></span>
                    </label>
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="REGISTER">
            </form>
            <p>Already have an Account? <a href="/login"> Login Now!</a></p>
        </div>
</div>
{% endblock content %}