{% extends "layout.html" %}
{% block content %}
<div class="main-w3layouts wrapper-reset">
    <div class="main-agileinfo">
        <div class="reset-password">
            Reset Password
        </div>
        <div class="agileits-top">
            <form action="#" method="post">
                <input class="text-email" type="email" name="email" placeholder="Email" required="">
                <input type="submit" value="Get password reset link">
            </form>
        </div>
</div>
{% endblock content %}