header {
  background-color: white;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
}

.s-header {
  display: flex;
  height: 100px;
}
.header-logo {
  display: flex !important;
  width: 100px;
  height: 100px;
}
.site-logo {
  width: inherit;
  left: 0;
  background: url("../images/icons/logo.jpg") no-repeat center;
  background-size: cover;

}

.header-nav, 
.header-nav il {
  list-style: none;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.nav {
  position: relative; 
  right:0% !important;
}

.empty {
  width: 80%;
}
