.landing .search-box {
    position: relative;
    height: 70px;
    width: 100%;
    border: 1px solid #838383;
    border-radius: 50px;
    margin-top: 15px;
}

.search-box input {
    position: absolute;
    width: 70%;
    border: none;
    height: 100%;
    margin-left: 45px;
    color: #000 !important;
}

.search-box input:focus {
    outline: none; /* Remove the default focus outline */
    border-color: transparent; /* Set the border color to transparent */
    box-shadow: none; /* Remove any box shadow */
}

.landing .recipe-list {
    margin-top: 25px;
}

.landing .result-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    width: 100%;
    padding: 0 30px 0 40px;
}

.result-filter {
    position: relative;
    display: inline-block;
}

.result-filter h4:hover {
    cursor: pointer;
    color: #ff0000;
}

h4 .fa {
    font: normal normal normal 20px/1 FontAwesome !important;
}

.filter-options {
    display: none;
    color: #ff0000;
    width: 400px;
    position: absolute;
    background-color: black;
    padding: 15px 30px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 8px;
}

.filter-options-show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.landing .result-tiles {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: -5px;
}

.result-tiles ul {
    column-count: 4;
    justify-content: center;
    padding: 0 15px;
    margin-top: 1%;
}

.result-tiles li {
    border: 1px solid #DDDDDD;
    width: 200px;
    height: 230px;
    display: inline-block;
    margin: 20px;
    border-radius: 4px;

}

.result-tiles li .list-img {
    width: 100%;
    height: 65%;
    background-image: url("../images/pexels-lumn-1410235.jpg");
    background-size: cover;
}

.result-tiles li .list-title {
    height: 35%;
    max-width: 100%;
    padding: 10px;

}

.result-tiles li .list-title h3 {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.result-tiles li .list-title p {
    font-size: 10px;
    margin: 0;
    line-height: 12px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-button {
    position: absolute;
    font-size: 15px;
    background: #000000;
    color: #FFFF;
    height: 40px;
    width: 10%;
    border-radius: 20px;
    top: 20%;
    right: 30px;
}

.search-button:hover {
    position: absolute;
    font-size: 15px;
    background: #FF0000;
    color: #FFFF;
    border-style: None;
}

@media only screen and (max-width: 920px)
{
    .result-tiles ul {
	display: flex;
	flex-wrap: wrap;
    }
}


@media screen and (min-width: 744px) and (max-width: 920px) {
    .landing {
	min-width: 744px;
	max-width: 1024px;
    }
    .landing .search-box {
	position: relative;
	height: 50px;
	width: 90%;
	border: 1px solid #DDDDDD;
	border-radius: 50px;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
    }

    .landing .result-title,
    .landing .result-tiles {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 20px;
	width: 90%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	font-size: 10px;
    }

    .search-button {
	position: absolute;
	font-size: 10px;
	background: #FF0000;
	color: #FFFFFF;
	height: 30px;
	width: 100px;
	border-style: none;
	border-radius: 25px;
	top: 20%;
	right: 30px;
    }
}

.input-home::placeholder {
    font-weight: 500;
    color: #000 !important;
}
